@import "settings";

/* We use this media query to add styles to any device that supports media queries */
@media #{$screen} {
    html { overflow-y: scroll; }
    body { background:#fff; font-size:$base-font-size; }
    p, ul, ol, li, dl, dt, dd {
        margin:0;
        padding:0;
    }

    footer,
    header {
        @include gradient($grad-header-c1, $grad-header-c2);
    }
    footer{
        height:3*$topbar-height/2;
        @include shadow("north");
    }

    footer nav li {
        display:block;
        float:left;
    }
    header{
        height:$topbar-height;
        @include shadow("south");
    }
    .top-bar {
        height:$topbar-height;
    }
    #main {
        margin:15px auto;
        padding-bottom:93px;
    }

    h1, .panel h1, .h1 {
        text-align:center;
        font-size:$h1-font-size;
        line-height:27px;
        font-family: $header-font-family;
        margin:0;
        @include single-text-shadow;
    }
    h2, .panel > h2, .h2,
    h3, .panel > h3, .h3,
    h4, .panel > h4, .h4{
        color:$secondary-color;
    }
    h2, .panel > h2, .h2 {
        font-size:$h2-font-size;
    }
    h3, .panel > h3, .h3 {
        font-size:$h3-font-size;
    }
    h4, .panel > h4, .h4 {
        font-size:$h4-font-size;
    }
    .panel {
        @include shadow;
        padding: $panel-padding;
        border-radius:$global-radius;
    }
    ul {
        list-style-type:none;
        display:block;
    }
    ul.list {
        list-style-type:square;
        list-style-position:outside;
    }
    ul.list,
    ul.list li,
    #index section p,
    #index .panel > p {
        margin-left:20px;
        margin-right:20px;
    }
    #index ul.list {
        margin-bottom:15px;
    }
    #index section > p,
    #index .panel > p {
        text-align:justify;
    }
    button,
    .button {
        @include gradient($grad-header-c1, $grad-header-c2);
        padding:$button-med $button-med * 2;
        border-radius:$global-radius;
    }
    textarea, input[type=text], input[type=password], input[type=email] {
        font-size:emCalc(14px);
        line-height:38px;
        height:38px;
        border-radius:0 $global-radius $global-radius $global-radius;
        @include shadow("south-east", true);
    }
    a {
        text-decoration:underline;
    }
    a.nodeco,
    a:hover,
    .top-bar a,
    .bottom-bar a {
        text-decoration:none;
    }
    .column,
    .columns {
        padding-left:$column-gutter;
        padding-right:$column-gutter;
    }

    dl, dt, dd {
        display:block;
        margin:0;
    }

    label,
    .label,
    label span {
        color:$secondary-color;
        font-weight:$label-font-weight;
    }
    .label,
    label span {
        @include gradient($secondary-color-50, $secondary-color-25);
        border:1px solid $secondary-color-50;
        border-radius:$global-radius $global-radius 0 0;
        display:block;
    }
    label span {
        padding:5px 10px;
        width:50%;
    }
    .work-in-progress {
        position:absolute;
        width:130px;
        height:70px;
        padding:5px 10px;
        border:3px dashed $darkest-color-25;
        right:25px;
        bottom:55px;
        text-align:center;
        font-weight:bold;
        font-size:1.5em;
        color:$darkest-color-25;
        transform-origin: 50% 50%;
        transform:rotate(-25deg);
        -webkit-transform:rotate(-25deg);
    }

    /**
     * project teaser content
     **/
    .projectTeaser .entrylabel {
        @include gradient($secondary-color-50, $secondary-color-25);
        border-radius:$global-radius $global-radius 0 0;
        border:1px solid $secondary-color-50;
        color:$secondary-color;
        font-weight:normal;
        padding:5px 10px;
        width:110px;
        float:right;
        display:block;
    }
    .projectTeaser {
        overflow:hidden;
        margin-bottom:25px;
    }

    .projectTeaser .entryValue:before {
        clear:right;
    }
    .projectTeaser .entryValue > img,
    .projectTeaser .entryValue {
        float:left;
    }

    .projectTeaser .entryValue {
        @include gradient($bg-color-list-dark, $bg-color-list-light);
        border   :1px solid $secondary-color-50;
        border-radius:$global-radius 0 $global-radius $global-radius;
        margin-top   : 1px;
        overflow     :hidden;
        width        :100%;
    }
    .projectTeaser .entryValue > img {
        margin:5px 0 5px 5px;
        border:1px solid $primary-color-50;
    }
    .projectTeaser .entryValue a {
        float:left;
        display:block;
        text-decoration:none;
        padding: 10px 10px 10px 15px;
    }
    .projectTeaser .entryValue a.projectLink {
        margin:auto 0;
        width:45px;
        font-size:emCalc(28px);
        float:right;
        display:block;
        color:$secondary-color-50;
    }
    .projectTeaser .entryValue a.projectLink:hover {
        color:$secondary-color;
    }
    .projectTeaser .entryValue .p {
        display:block;
        font-size:$paragraph-font-size;
        line-height:$paragraph-line-height;
    }
   .projectTeaser .entryValue .h3 {
        display:block;
        text-decoration:none;
        font-size:$h4-font-size;
        line-height:1.75em;
        font-weight:bold;
   }
   .currentProjects .panel {
        min-height:140px;
   }

    /* project teaser sidebar */
    #sidebarProjectTeaser .img img {
        max-height:65px;
        max-width:87px;
    }
    #gmap img {
        border:1px solid $secondary-color;
        border-radius:$global-radius;
        width:100%;
    }

    #sidebarContact .panel {
        overflow:hidden;
    }
    #sidebarContact .panel dl {
        float:left;
        width:33%;
    }
    #sidebarContact .panel dt,
    #sidebarContact .panel dd {
        margin-bottom:5px;
    }
    #sidebarContact .panel dd {
         margin-left:5px;
    }
    #sidebarContact .icon:before {
        padding-right:5px;
    }

    .panel.bottom-open {
        margin-bottom:0;
        border-radius:$global-radius $global-radius 0 0;
        border-bottom:0;
    }
    .panel.top-open {
        margin-top:0;
        border-radius:0 0 $global-radius $global-radius;
        border-top:0;
    }
    .nopad {
        padding:0;
    }
    .contain-to-grid {
        @include gradient($grad-header-c1, $grad-header-c2);
    }
    .contain-to-grid .top-bar {
        margin:0 auto;
    }
    .top-bar,
    .top-bar.expanded .title-area,
    .top-bar-section ul li {
        background:none;
    }
    .top-bar-section ul li > a {
        @include gradient($lightest-color, $lighter-color);
        color:$secondary-color;
        border-bottom:1px solid $secondary-color;
    }
    .top-bar-section ul li > a:hover:not(.button) {
        @include gradient($lighter-color, $light-color);
        color:$secondary-color;
    }
    .top-bar-section ul:not(.orbit) li.active > a:not(.button),
    .top-bar-section ul:not(.orbit) li.active > a:hover:not(.button) {
        @include gradient($light-color, $lighter-color);
        color:$secondary-color;
    }
    #sidebar ul:not(.orbit) li {
        border-top:1px solid $secondary-color;
        padding:5px;
    }
    #sidebar ul:not(.orbit) li:nth-child(odd) {
        background:$nav-primary-hover-color;
    }
    #sidebar ul:not(.orbit) li .img {
        display:table-cell;
    }
    #sidebar ul:not(.orbit) li .img img {
        border:1px solid $secondary-color;
    }
    #sidebar ul:not(.orbit) li .info {
        display:table-cell;
        vertical-align:top;
        padding-left:10px;
        line-height:emCalc(24px);
    }
    #sidebar ul:not(.orbit) li .info a {
        display:block;
    }
    #sidebar ul:not(.orbit) li .title {
        font-style: italic;
    }
    #sidebar ul:not(.orbit) li .date {
        font-weight:bold;
    }
    footer {
        position:fixed;
        bottom:0;
        width:100%;
    }
    footer nav,
    footer nav li {
        float:left;
    }
    footer .copy,
    footer a {
        color:$lightest-color;
        line-height:3*$topbar-height/4;
        padding:0 .5em;
    }
    footer a:hover {
        color:$light-color;
    }

/* Orbit */
    .orbit-container .panel {
        padding:0;
        height:100%;
    }
    .orbit-container .label {
        border-radius:3px;
    }
    .orbit-slide-data {
        padding:$panel-padding;
    }
    .orbit-container {
        @include shadow;
    }
    .orbit-container:before {
        padding-top:35px;
        display:block;
        content: " ";
        border-radius:$global-radius $global-radius 0 0;
        border:1px solid $panel-border-color;
        @include gradient($lighter-color, $lightest-color);
    }
    .orbit-container .orbit-slides-container {
        margin:0;
        background:none;
    }
    .orbit-slide-data {
        display:block;
        overflow:hidden;
        background:none;
    }
    .orbit-container .orbit-prev,
    .orbit-container .orbit-next {
        top: 0;
        background:none;
        width: 5px;
        height: 30px;
        margin-top: 2px;
        line-height: 30px;
    }
    .orbit-container .orbit-next {
        position:absolute;
        right:1;
        left:40px;
    }
    .orbit-container .orbit-prev > span,
    .orbit-container .orbit-next > span {
        top:0;
        margin-top:5px;
        left:0;
        border:10px inset;
    }
    .orbit-container .orbit-prev > span {
        border-color:transparent;
        border-right-color:$secondary-color;
        border-right-style:solid;
    }
    .orbit-container .orbit-prev:hover > span {
        border-right-color:$alert-color;
    }
    .orbit-container .orbit-next > span {
        border-color:transparent;
        border-left-color:$secondary-color;
        border-left-style:solid;
        margin-left:-10px;
    }
    .orbit-container .orbit-next:hover > span {
        border-left-color:$alert-color;
    }
    .orbit-container .orbit-slides-container > * .orbit-caption {
        color:$secondary-color;
        background:none;
        font-weight:bold;
        padding:5px 10px 10px 10px;
        text-align:center;
        font-size:$h3-font-size;
        line-height:$h3-font-size;
    }
    .orbit-bullets {
        position:absolute;
        top:5px;
        right:10px;
        padding:4px 10px 3px 10px;
        margin:0;
        border-radius:$global-radius;
    }
    .orbit-bullets li {
        border-color:$secondary-color;
        background:$light-color;
        cursor:pointer;
    }
    .orbit-bullets li.active {
        border-color:$alert-color;
        background:$lightest-color;
    }
    .orbit-bullets li:hover {
        border-color:$alert-color;
    }
    .orbit-container .orbit-slide-number {
        display:none;
    }
    .orbit-container .orbit-timer {
        position:absolute;
        width:100%;
        top:0;
        left:0;
    }
    .orbit-container .orbit-timer.paused > span,
    .orbit-container .orbit-timer > span {
        position:absolute;
        top:10px;
        left:60px;
        display:block; cursor:pointer;
    }
    .orbit-container .orbit-timer > span {
        border:3px solid $secondary-color;
        border-top:0;
        border-bottom:0;
    }
    .orbit-container .orbit-timer:hover > span {
        border-color: transparent $alert-color transparent $alert-color;
    }
    .orbit-container .orbit-timer.paused:hover > span {
        border-color: transparent transparent transparent $alert-color;
    }
    .orbit-container .orbit-timer.paused > span {
        border-left:8px solid $secondary-color;
    }
    .orbit-container .orbit-timer .orbit-progress {
        position:absolute;
        background:$alert-color;
        width: 1;
        height: 2px;
        top: 34px;
    }
    .orbit-container .orbit-slides-container img {
        border:1px solid $secondary-color;
        border-radius:$global-radius;
        display:block;
        margin:0 auto;
        width: 100%;
    }
    .orbit-slide-description,
    .orbit-slide-attrib {
        display:block;
        margin-top:15px;
        padding-top:15px;
        border-top:1px solid $secondary-color;
    }
    .orbit-slide-attrib dl {
        margin-bottom: 5px;
        display:block;
    }
    .orbit-slide-attrib dt {
        width:85px;
        display:block;
        float:left;
    }
    .orbit-slide-attrib dd {
        margin-left: 90px;
        display:block;
        float:none;
        white-space: normal;
        padding:0;
    }
    .orbit-caption {
        position:relative;
        bottom:0;
        background:$secondary-color-50;
    }
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media #{$small} {
    footer {
        height:$topbar-height;;
    }
    header{
        height:$topbar-height*2;;
    }
    .top-bar {
        height:$topbar-height;
    }
    #main {
        margin:65px auto;
        padding-bottom:$topbar-height;
    }
    footer .copy {
        float:left;
    }
    footer .copy,
    footer a {
        color:$lightest-color;
        line-height:$topbar-height;
        padding:0 .5em;
    }
    footer nav {
        float:right;
    }
    .top-bar .name h1 {
        padding:.5em 0;
        margin-left:.5em;
    }
    .top-bar .name h1 a {
        display:block;
        padding:0;
        text-shadow:-1px -1px 1px $dark-color;
    }
    .top-bar .name h1 .title {
        display:block;
        text-align:center;
        font-size:emCalc(43px);
        line-height:1;
        margin:0;
    }
    .top-bar .name h1 .description {
        border-top:1px solid #fff;
        display:block;
        text-align:center;
        font-size:emCalc(16px);
        letter-spacing:.35em;
        padding:.25em 0 0 .4em;
        line-height:1;
        margin:0;
    }
    .top-bar-section ul {
        @include gradient($lightest-color, $lighter-color);
        height:1 !important;
        padding:3px 0 0 3px;
        border:0;
        border-radius:0 0 $big-radius $big-radius;
        color:$secondary-color;
        @include shadow("south-east", true);
    }
    .top-bar-section .nav-primary li,
    .top-bar-section .nav-primary li a {
        border:0;
    }
    .top-bar-section .nav-primary li:first-child,
    .top-bar-section .nav-primary li:first-child a {
        border-radius:0 0 0 $big-radius;
    }
    .top-bar-section .nav-primary li:last-child,
    .top-bar-section .nav-primary li:last-child a {
        border-radius:0 0 $big-radius 0;
        border-right:0;
    }
    .top-bar-section li a:not(.button),
    .top-bar-section .nav-primary li > a {
        @include gradient($lightest-color, $lighter-color);
        display:block;
        text-align:center;
        line-height:32px;
        color:$secondary-color;
        border-right:1px solid $secondary-color;
    }
    .top-bar-section .nav-primary li.active > a {
        @include gradient($primary-color-25, $secondary-color-25);
        color:$secondary-color;
    }
    .top-bar-section .nav-primary li > a:hover:not(.button) {
        @include gradient($lighter-color, $lightest-color);
        color:$secondary-color;
    }
    .top-bar-section ul.nav-social {
        @include gradient($lightest-color, $lighter-color);
        margin-left:10px;
        padding:3px 4px 1px 6px;
        height:32px;
        line-height:32px;
    }
    .top-bar-section .nav-social li {
        @include gradient($lightest-color, $lighter-color);
        display:inline-block;
        float:left;
        height:32px;
        line-height:32px;
    }
    .top-bar-section .nav-social li > a:not(.button) {
        display:inline-block;
        background:none;
        color:$secondary-color-75;
        width:28px;
        height:28px;
        overflow:hidden !important;
        line-height:28px;
        font-size:27px;
        margin:2px;
        padding:0;
        border:0;
        text-shadow:1px 1px 0 #eee;
    }
    .top-bar-section .nav-social li > a:hover:not(.button) {
        color:$secondary-color-50;
    }
    .top-bar-section .nav-social li.active > a:not(.button),
    .top-bar-section .nav-social li.active > a:hover:not(.button) {
        color:$secondary-color;
    }
    #sidebarContact .panel dl {
        display:block;
        float:none;
        width:100%;
        margin:15px 10px 0 10px;
    }

    .currentProjects .panel {
        min-height:220px;
    }
    #contact .panel textarea {
        height:emCalc(250px);
    }
}

/* Used to alter styles for screens at least 1280px wide. */
@media #{$medium} {

}

/* Used to alter styles for screens at least 1440px wide. */
@media #{$large} {

}

/* Apply styles to screens in landscape orientation */
@media #{$landscape} {

}

/* Apply styles to screens in portrait orientation */
@media #{$portrait} {

}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}
