@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@font-face {
  font-family: 'icons';
  src: url("../../fonts/icons.eot");
  src: url("../../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/*
[data-icon]:before {
    font-family: 'icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
*/
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-star:before {
  content: "\e02f";
}

.icon-star-2:before {
  content: "\e030";
}

.icon-star-3:before {
  content: "\e031";
}

.icon-undo:before {
  content: "\f0e2";
}

.icon-table:before {
  content: "\f0ce";
}

.icon-circle-arrow-left:before {
  content: "\f0a8";
}

.icon-circle-arrow-right:before {
  content: "\f0a9";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-phone-sign:before {
  content: "\f098";
}

.icon-globe:before {
  content: "\f0ac";
}

.icon-upload-alt:before {
  content: "\f093";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-wrench:before {
  content: "\f0ad";
}

.icon-caret-right:before {
  content: "\f0da";
}

.icon-caret-left:before {
  content: "\f0d9";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-sort:before {
  content: "\f0dc";
}

.icon-trash:before {
  content: "\f014";
}

.icon-home:before {
  content: "\f015";
}

.icon-download-alt:before {
  content: "\f019";
}

.icon-refresh:before {
  content: "\f021";
}

.icon-cogs:before {
  content: "\f085";
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-xing:before {
  content: "\e014";
}

.icon-tumblr:before {
  content: "\e016";
}

.icon-facebook:before {
  content: "\e003";
}

.icon-google-plus:before {
  content: "\e005";
}

.icon-linkedin:before {
  content: "\e053";
}

.icon-github:before {
  content: "\e00a";
}

.icon-twitter:before {
  content: "\e004";
}

.icon-key:before {
  content: "\e04a";
}

.icon-lock:before {
  content: "\e048";
}

.icon-unlocked:before {
  content: "\e049";
}

.icon-attachment:before {
  content: "\e032";
}

.icon-ok:before {
  content: "\f00c";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-remove-sign:before {
  content: "\f057";
}

.icon-ok-sign:before {
  content: "\f058";
}

.icon-plus-sign:before {
  content: "\f055";
}

.icon-minus-sign:before {
  content: "\f056";
}

.icon-question-sign:before {
  content: "\f059";
}

.icon-info-sign:before {
  content: "\f05a";
}

.icon-remove-circle:before {
  content: "\f05c";
}

.icon-ok-circle:before {
  content: "\f05d";
}

.icon-ban-circle:before {
  content: "\f05e";
}

.icon-warning-sign:before {
  content: "\f071";
}

.icon-exclamation-sign:before {
  content: "\f06a";
}

.icon-thumbs-up:before {
  content: "\e000";
}

.icon-thumbs-up-2:before {
  content: "\e001";
}

.icon-download:before {
  content: "\e002";
}

.icon-upload:before {
  content: "\e006";
}

.icon-off:before {
  content: "\f011";
}

.icon-user:before {
  content: "\e007";
}

.icon-search:before {
  content: "\e009";
}

.icon-signin:before {
  content: "\f090";
}

.icon-enter:before {
  content: "\e00b";
}

.icon-picassa:before {
  content: "\e00c";
}

.icon-mail:before {
  content: "\e00d";
}

.icon-skype:before {
  content: "\e00e";
}

.icon-android:before {
  content: "\e00f";
}

.icon-tux:before {
  content: "\e010";
}

.icon-file-pdf:before {
  content: "\e011";
}

.icon-delicious:before {
  content: "\e012";
}

.icon-print:before {
  content: "\f02f";
}

.icon-exit:before {
  content: "\e013";
}

/* We use this media query to add styles to any device that supports media queries */
@media only screen {
  html {
    overflow-y: scroll;
  }

  body {
    background: #fff;
    font-size: 16px;
  }

  p, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
  }

  footer,
  header {
    background: #32558a;
    background: -moz-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32558a), color-stop(100%, #6078a3));
    background: -webkit-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: -o-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: -ms-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: linear-gradient(to top, #32558a 0%, #6078a3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
  }

  footer {
    height: 67.5px;
    box-shadow: 0 -5px 10px -3.75px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 -5px 10px -3.75px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 -5px 10px -3.75px rgba(0, 0, 0, 0.35);
  }

  footer nav li {
    display: block;
    float: left;
  }

  header {
    height: 45px;
    box-shadow: 0 5px 7.5px -0.5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 5px 7.5px -0.5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 5px 7.5px -0.5px rgba(0, 0, 0, 0.35);
  }

  .top-bar {
    height: 45px;
  }

  #main {
    margin: 15px auto;
    padding-bottom: 93px;
  }

  h1, .panel h1, .h1 {
    text-align: center;
    font-size: 1.75em;
    line-height: 27px;
    font-family: "PT Sans Narrow", sans-serif;
    margin: 0;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  }

  h2, .panel > h2, .h2,
  h3, .panel > h3, .h3,
  h4, .panel > h4, .h4 {
    color: #204a87;
  }

  h2, .panel > h2, .h2 {
    font-size: 1.5em;
  }

  h3, .panel > h3, .h3 {
    font-size: 1.25em;
  }

  h4, .panel > h4, .h4 {
    font-size: 1em;
  }

  .panel {
    box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35);
    padding: 0.9375em;
    border-radius: 0.3125em;
  }

  ul {
    list-style-type: none;
    display: block;
  }

  ul.list {
    list-style-type: square;
    list-style-position: outside;
  }

  ul.list,
  ul.list li,
  #index section p,
  #index .panel > p {
    margin-left: 20px;
    margin-right: 20px;
  }

  #index ul.list {
    margin-bottom: 15px;
  }

  #index section > p,
  #index .panel > p {
    text-align: justify;
  }

  button,
  .button {
    background: #32558a;
    background: -moz-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32558a), color-stop(100%, #6078a3));
    background: -webkit-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: -o-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: -ms-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: linear-gradient(to top, #32558a 0%, #6078a3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    padding: 0.5em 1em;
    border-radius: 0.3125em;
  }

  textarea, input[type=text], input[type=password], input[type=email] {
    font-size: 0.875em;
    line-height: 38px;
    height: 38px;
    border-radius: 0 0.3125em 0.3125em 0.3125em;
    box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35) inset;
    -moz-box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35) inset;
    -webkit-box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35) inset;
  }

  a {
    text-decoration: underline;
  }

  a.nodeco,
  a:hover,
  .top-bar a,
  .bottom-bar a {
    text-decoration: none;
  }

  .column,
  .columns {
    padding-left: 0.65em;
    padding-right: 0.65em;
  }

  dl, dt, dd {
    display: block;
    margin: 0;
  }

  label,
  .label,
  label span {
    color: #204a87;
    font-weight: normal;
  }

  .label,
  label span {
    background: rgba(32, 74, 135, 0.5);
    background: -moz-linear-gradient(top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(32, 74, 135, 0.5)), color-stop(100%, rgba(32, 74, 135, 0.25)));
    background: -webkit-linear-gradient(top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: -o-linear-gradient(top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: -ms-linear-gradient(top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: linear-gradient(to top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    border: 1px solid rgba(32, 74, 135, 0.5);
    border-radius: 0.3125em 0.3125em 0 0;
    display: block;
  }

  label span {
    padding: 5px 10px;
    width: 50%;
  }

  .work-in-progress {
    position: absolute;
    width: 130px;
    height: 70px;
    padding: 5px 10px;
    border: 3px dashed rgba(34, 34, 34, 0.25);
    right: 25px;
    bottom: 55px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(34, 34, 34, 0.25);
    transform-origin: 50% 50%;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
  }

  /**
   * project teaser content
   **/
  .projectTeaser .entrylabel {
    background: rgba(32, 74, 135, 0.5);
    background: -moz-linear-gradient(top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(32, 74, 135, 0.5)), color-stop(100%, rgba(32, 74, 135, 0.25)));
    background: -webkit-linear-gradient(top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: -o-linear-gradient(top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: -ms-linear-gradient(top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: linear-gradient(to top, rgba(32, 74, 135, 0.5) 0%, rgba(32, 74, 135, 0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    border-radius: 0.3125em 0.3125em 0 0;
    border: 1px solid rgba(32, 74, 135, 0.5);
    color: #204a87;
    font-weight: normal;
    padding: 5px 10px;
    width: 110px;
    float: right;
    display: block;
  }

  .projectTeaser {
    overflow: hidden;
    margin-bottom: 25px;
  }

  .projectTeaser .entryValue:before {
    clear: right;
  }

  .projectTeaser .entryValue > img,
  .projectTeaser .entryValue {
    float: left;
  }

  .projectTeaser .entryValue {
    background: rgba(32, 74, 135, 0.075);
    background: -moz-linear-gradient(top, rgba(32, 74, 135, 0.075) 0%, rgba(32, 74, 135, 0.05) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(32, 74, 135, 0.075)), color-stop(100%, rgba(32, 74, 135, 0.05)));
    background: -webkit-linear-gradient(top, rgba(32, 74, 135, 0.075) 0%, rgba(32, 74, 135, 0.05) 100%);
    background: -o-linear-gradient(top, rgba(32, 74, 135, 0.075) 0%, rgba(32, 74, 135, 0.05) 100%);
    background: -ms-linear-gradient(top, rgba(32, 74, 135, 0.075) 0%, rgba(32, 74, 135, 0.05) 100%);
    background: linear-gradient(to top, rgba(32, 74, 135, 0.075) 0%, rgba(32, 74, 135, 0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    border: 1px solid rgba(32, 74, 135, 0.5);
    border-radius: 0.3125em 0 0.3125em 0.3125em;
    margin-top: 1px;
    overflow: hidden;
    width: 100%;
  }

  .projectTeaser .entryValue > img {
    margin: 5px 0 5px 5px;
    border: 1px solid rgba(24, 41, 69, 0.5);
  }

  .projectTeaser .entryValue a {
    float: left;
    display: block;
    text-decoration: none;
    padding: 10px 10px 10px 15px;
  }

  .projectTeaser .entryValue a.projectLink {
    margin: auto 0;
    width: 45px;
    font-size: 1.75em;
    float: right;
    display: block;
    color: rgba(32, 74, 135, 0.5);
  }

  .projectTeaser .entryValue a.projectLink:hover {
    color: #204a87;
  }

  .projectTeaser .entryValue .p {
    display: block;
    font-size: 1em;
    line-height: 1.4;
  }

  .projectTeaser .entryValue .h3 {
    display: block;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.75em;
    font-weight: bold;
  }

  .currentProjects .panel {
    min-height: 140px;
  }

  /* project teaser sidebar */
  #sidebarProjectTeaser .img img {
    max-height: 65px;
    max-width: 87px;
  }

  #gmap img {
    border: 1px solid #204a87;
    border-radius: 0.3125em;
    width: 100%;
  }

  #sidebarContact .panel {
    overflow: hidden;
  }

  #sidebarContact .panel dl {
    float: left;
    width: 33%;
  }

  #sidebarContact .panel dt,
  #sidebarContact .panel dd {
    margin-bottom: 5px;
  }

  #sidebarContact .panel dd {
    margin-left: 5px;
  }

  #sidebarContact .icon:before {
    padding-right: 5px;
  }

  .panel.bottom-open {
    margin-bottom: 0;
    border-radius: 0.3125em 0.3125em 0 0;
    border-bottom: 0;
  }

  .panel.top-open {
    margin-top: 0;
    border-radius: 0 0 0.3125em 0.3125em;
    border-top: 0;
  }

  .nopad {
    padding: 0;
  }

  .contain-to-grid {
    background: #32558a;
    background: -moz-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32558a), color-stop(100%, #6078a3));
    background: -webkit-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: -o-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: -ms-linear-gradient(top, #32558a 0%, #6078a3 100%);
    background: linear-gradient(to top, #32558a 0%, #6078a3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
  }

  .contain-to-grid .top-bar {
    margin: 0 auto;
  }

  .top-bar,
  .top-bar.expanded .title-area,
  .top-bar-section ul li {
    background: none;
  }

  .top-bar-section ul li > a {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: linear-gradient(to top, #ffffff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    color: #204a87;
    border-bottom: 1px solid #204a87;
  }

  .top-bar-section ul li > a:hover:not(.button) {
    background: #e0e0e0;
    background: -moz-linear-gradient(top, #e0e0e0 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, #cccccc));
    background: -webkit-linear-gradient(top, #e0e0e0 0%, #cccccc 100%);
    background: -o-linear-gradient(top, #e0e0e0 0%, #cccccc 100%);
    background: -ms-linear-gradient(top, #e0e0e0 0%, #cccccc 100%);
    background: linear-gradient(to top, #e0e0e0 0%, #cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    color: #204a87;
  }

  .top-bar-section ul:not(.orbit) li.active > a:not(.button),
  .top-bar-section ul:not(.orbit) li.active > a:hover:not(.button) {
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(top, #cccccc 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, #cccccc 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, #cccccc 0%, #e0e0e0 100%);
    background: linear-gradient(to top, #cccccc 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    color: #204a87;
  }

  #sidebar ul:not(.orbit) li {
    border-top: 1px solid #204a87;
    padding: 5px;
  }

  #sidebar ul:not(.orbit) li:nth-child(odd) {
    background: #e6e6e6;
  }

  #sidebar ul:not(.orbit) li .img {
    display: table-cell;
  }

  #sidebar ul:not(.orbit) li .img img {
    border: 1px solid #204a87;
  }

  #sidebar ul:not(.orbit) li .info {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
    line-height: 1.5em;
  }

  #sidebar ul:not(.orbit) li .info a {
    display: block;
  }

  #sidebar ul:not(.orbit) li .title {
    font-style: italic;
  }

  #sidebar ul:not(.orbit) li .date {
    font-weight: bold;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer nav,
  footer nav li {
    float: left;
  }

  footer .copy,
  footer a {
    color: white;
    line-height: 33.75px;
    padding: 0 .5em;
  }

  footer a:hover {
    color: #cccccc;
  }

  /* Orbit */
  .orbit-container .panel {
    padding: 0;
    height: 100%;
  }

  .orbit-container .label {
    border-radius: 3px;
  }

  .orbit-slide-data {
    padding: 0.9375em;
  }

  .orbit-container {
    box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35);
  }

  .orbit-container:before {
    padding-top: 35px;
    display: block;
    content: " ";
    border-radius: 0.3125em 0.3125em 0 0;
    border: 1px solid #d9d9d9;
    background: #e0e0e0;
    background: -moz-linear-gradient(top, #e0e0e0 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, white));
    background: -webkit-linear-gradient(top, #e0e0e0 0%, white 100%);
    background: -o-linear-gradient(top, #e0e0e0 0%, white 100%);
    background: -ms-linear-gradient(top, #e0e0e0 0%, white 100%);
    background: linear-gradient(to top, #e0e0e0 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
  }

  .orbit-container .orbit-slides-container {
    margin: 0;
    background: none;
  }

  .orbit-slide-data {
    display: block;
    overflow: hidden;
    background: none;
  }

  .orbit-container .orbit-prev,
  .orbit-container .orbit-next {
    top: 0;
    background: none;
    width: 5px;
    height: 30px;
    margin-top: 2px;
    line-height: 30px;
  }

  .orbit-container .orbit-next {
    position: absolute;
    right: 1;
    left: 40px;
  }

  .orbit-container .orbit-prev > span,
  .orbit-container .orbit-next > span {
    top: 0;
    margin-top: 5px;
    left: 0;
    border: 10px inset;
  }

  .orbit-container .orbit-prev > span {
    border-color: transparent;
    border-right-color: #204a87;
    border-right-style: solid;
  }

  .orbit-container .orbit-prev:hover > span {
    border-right-color: #fb5600;
  }

  .orbit-container .orbit-next > span {
    border-color: transparent;
    border-left-color: #204a87;
    border-left-style: solid;
    margin-left: -10px;
  }

  .orbit-container .orbit-next:hover > span {
    border-left-color: #fb5600;
  }

  .orbit-container .orbit-slides-container > * .orbit-caption {
    color: #204a87;
    background: none;
    font-weight: bold;
    padding: 5px 10px 10px 10px;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.25em;
  }

  .orbit-bullets {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 4px 10px 3px 10px;
    margin: 0;
    border-radius: 0.3125em;
  }

  .orbit-bullets li {
    border-color: #204a87;
    background: #cccccc;
    cursor: pointer;
  }

  .orbit-bullets li.active {
    border-color: #fb5600;
    background: white;
  }

  .orbit-bullets li:hover {
    border-color: #fb5600;
  }

  .orbit-container .orbit-slide-number {
    display: none;
  }

  .orbit-container .orbit-timer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .orbit-container .orbit-timer.paused > span,
  .orbit-container .orbit-timer > span {
    position: absolute;
    top: 10px;
    left: 60px;
    display: block;
    cursor: pointer;
  }

  .orbit-container .orbit-timer > span {
    border: 3px solid #204a87;
    border-top: 0;
    border-bottom: 0;
  }

  .orbit-container .orbit-timer:hover > span {
    border-color: transparent #fb5600 transparent #fb5600;
  }

  .orbit-container .orbit-timer.paused:hover > span {
    border-color: transparent transparent transparent #fb5600;
  }

  .orbit-container .orbit-timer.paused > span {
    border-left: 8px solid #204a87;
  }

  .orbit-container .orbit-timer .orbit-progress {
    position: absolute;
    background: #fb5600;
    width: 1;
    height: 2px;
    top: 34px;
  }

  .orbit-container .orbit-slides-container img {
    border: 1px solid #204a87;
    border-radius: 0.3125em;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .orbit-slide-description,
  .orbit-slide-attrib {
    display: block;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #204a87;
  }

  .orbit-slide-attrib dl {
    margin-bottom: 5px;
    display: block;
  }

  .orbit-slide-attrib dt {
    width: 85px;
    display: block;
    float: left;
  }

  .orbit-slide-attrib dd {
    margin-left: 90px;
    display: block;
    float: none;
    white-space: normal;
    padding: 0;
  }

  .orbit-caption {
    position: relative;
    bottom: 0;
    background: rgba(32, 74, 135, 0.5);
  }
}
/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 48em) {
  footer {
    height: 45px;
  }

  header {
    height: 90px;
  }

  .top-bar {
    height: 45px;
  }

  #main {
    margin: 65px auto;
    padding-bottom: 45px;
  }

  footer .copy {
    float: left;
  }

  footer .copy,
  footer a {
    color: white;
    line-height: 45px;
    padding: 0 .5em;
  }

  footer nav {
    float: right;
  }

  .top-bar .name h1 {
    padding: .5em 0;
    margin-left: .5em;
  }

  .top-bar .name h1 a {
    display: block;
    padding: 0;
    text-shadow: -1px -1px 1px #4a4a4a;
  }

  .top-bar .name h1 .title {
    display: block;
    text-align: center;
    font-size: 2.6875em;
    line-height: 1;
    margin: 0;
  }

  .top-bar .name h1 .description {
    border-top: 1px solid #fff;
    display: block;
    text-align: center;
    font-size: 1em;
    letter-spacing: .35em;
    padding: .25em 0 0 .4em;
    line-height: 1;
    margin: 0;
  }

  .top-bar-section ul {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: linear-gradient(to top, #ffffff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    height: 1 !important;
    padding: 3px 0 0 3px;
    border: 0;
    border-radius: 0 0 0.625em 0.625em;
    color: #204a87;
    box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35) inset;
    -moz-box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35) inset;
    -webkit-box-shadow: 3.75px 3.75px 5px -0.5px rgba(0, 0, 0, 0.35) inset;
  }

  .top-bar-section .nav-primary li,
  .top-bar-section .nav-primary li a {
    border: 0;
  }

  .top-bar-section .nav-primary li:first-child,
  .top-bar-section .nav-primary li:first-child a {
    border-radius: 0 0 0 0.625em;
  }

  .top-bar-section .nav-primary li:last-child,
  .top-bar-section .nav-primary li:last-child a {
    border-radius: 0 0 0.625em 0;
    border-right: 0;
  }

  .top-bar-section li a:not(.button),
  .top-bar-section .nav-primary li > a {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: linear-gradient(to top, #ffffff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    display: block;
    text-align: center;
    line-height: 32px;
    color: #204a87;
    border-right: 1px solid #204a87;
  }

  .top-bar-section .nav-primary li.active > a {
    background: rgba(92, 116, 160, 0.25);
    background: -moz-linear-gradient(top, rgba(92, 116, 160, 0.25) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(92, 116, 160, 0.25)), color-stop(100%, rgba(32, 74, 135, 0.25)));
    background: -webkit-linear-gradient(top, rgba(92, 116, 160, 0.25) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: -o-linear-gradient(top, rgba(92, 116, 160, 0.25) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: -ms-linear-gradient(top, rgba(92, 116, 160, 0.25) 0%, rgba(32, 74, 135, 0.25) 100%);
    background: linear-gradient(to top, rgba(92, 116, 160, 0.25) 0%, rgba(32, 74, 135, 0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    color: #204a87;
  }

  .top-bar-section .nav-primary li > a:hover:not(.button) {
    background: #e0e0e0;
    background: -moz-linear-gradient(top, #e0e0e0 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(100%, white));
    background: -webkit-linear-gradient(top, #e0e0e0 0%, white 100%);
    background: -o-linear-gradient(top, #e0e0e0 0%, white 100%);
    background: -ms-linear-gradient(top, #e0e0e0 0%, white 100%);
    background: linear-gradient(to top, #e0e0e0 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    color: #204a87;
  }

  .top-bar-section ul.nav-social {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: linear-gradient(to top, #ffffff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    margin-left: 10px;
    padding: 3px 4px 1px 6px;
    height: 32px;
    line-height: 32px;
  }

  .top-bar-section .nav-social li {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e0e0e0));
    background: -webkit-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, white 0%, #e0e0e0 100%);
    background: linear-gradient(to top, #ffffff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradVerticalC1', endColorstr='$gradVerticalC2',GradientType=0 );
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 32px;
  }

  .top-bar-section .nav-social li > a:not(.button) {
    display: inline-block;
    background: none;
    color: rgba(32, 74, 135, 0.75);
    width: 28px;
    height: 28px;
    overflow: hidden !important;
    line-height: 28px;
    font-size: 27px;
    margin: 2px;
    padding: 0;
    border: 0;
    text-shadow: 1px 1px 0 #eee;
  }

  .top-bar-section .nav-social li > a:hover:not(.button) {
    color: rgba(32, 74, 135, 0.5);
  }

  .top-bar-section .nav-social li.active > a:not(.button),
  .top-bar-section .nav-social li.active > a:hover:not(.button) {
    color: #204a87;
  }

  #sidebarContact .panel dl {
    display: block;
    float: none;
    width: 100%;
    margin: 15px 10px 0 10px;
  }

  .currentProjects .panel {
    min-height: 220px;
  }

  #contact .panel textarea {
    height: 15.625em;
  }
}
/* Used to alter styles for screens at least 1280px wide. */
/* Used to alter styles for screens at least 1440px wide. */
/* Apply styles to screens in landscape orientation */
/* Apply styles to screens in portrait orientation */
/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
