# configure propel build process
propel.project = PropelOrm
propel.output.dir = [Path]/module/Orm/src/Orm/Model
propel.phpconf.dir = [Path]/module/Orm/config
propel.php.dir = ${propel.output.dir}/
propel.sql.dir = ${propel.phpconf.dir}/sql
propel.database = mysql
propel.database.url = mysql:host=[hostname];dbname=[dbname]
propel.database.user = [dbuser]
propel.database.password = [dbpwd]
propel.database.encoding = utf8
propel.mysql.tableType = innodb
propel.packageObjectModel = true
