<config>
    <log>
        <type>console</type>
        <ident>propel</ident>
        <level>7</level><!-- PEAR_LOG_DEBUG -->
        <conf />
    </log>
    <propel>
        <datasources default="PropelOrm">
            <datasource id="PropelOrm">
                <adapter>mysql</adapter><!-- sqlite, mysql, mssql, oracle, or pgsql -->
                <connection>
                    <!-- <classname>DebugPDO</classname> -->
                    <dsn>mysql:host=[hostname];dbname=[dbname]</dsn>
                    <user>[dbuser]</user>
                    <password>[dbpwd]</password>
                    <settings>
                        <setting id="charset">utf8</setting>
                    </settings>
                </connection>
            </datasource>
        </datasources>
        <debugpdo>
            <logging>
                <details>
                    <method>
                        <enabled>false</enabled>
                    </method>
                    <time>
                        <enabled>false</enabled>
                        <precision>3</precision>
                    </time>
                    <mem>
                        <enabled>false</enabled>
                        <precision>1</precision>
                    </mem>
                </details>
            </logging>
        </debugpdo>
    </propel>
</config>
