@font-face {
	font-family: 'icons';
	src:url('../../fonts/icons.eot');
	src:url('../../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/icons.woff') format('woff'),
		url('../../fonts/icons.ttf') format('truetype'),
		url('../../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-star, .icon-star-2, .icon-star-3, .icon-undo, .icon-table, .icon-circle-arrow-left, .icon-circle-arrow-right, .icon-arrow-left, .icon-arrow-right, .icon-chevron-left, .icon-chevron-right, .icon-phone-sign, .icon-globe, .icon-upload-alt, .icon-calendar, .icon-wrench, .icon-caret-right, .icon-caret-left, .icon-caret-up, .icon-caret-down, .icon-sort, .icon-trash, .icon-home, .icon-download-alt, .icon-refresh, .icon-cogs, .icon-plus, .icon-minus, .icon-xing, .icon-tumblr, .icon-facebook, .icon-google-plus, .icon-linkedin, .icon-github, .icon-twitter, .icon-key, .icon-lock, .icon-unlocked, .icon-attachment, .icon-ok, .icon-remove, .icon-remove-sign, .icon-ok-sign, .icon-plus-sign, .icon-minus-sign, .icon-question-sign, .icon-info-sign, .icon-remove-circle, .icon-ok-circle, .icon-ban-circle, .icon-warning-sign, .icon-exclamation-sign, .icon-thumbs-up, .icon-thumbs-up-2, .icon-download, .icon-upload, .icon-off, .icon-user, .icon-search, .icon-signin, .icon-enter, .icon-picassa, .icon-mail, .icon-skype, .icon-android, .icon-tux, .icon-file-pdf, .icon-delicious, .icon-print, .icon-exit {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-star:before {
	content: "\e02f";
}
.icon-star-2:before {
	content: "\e030";
}
.icon-star-3:before {
	content: "\e031";
}
.icon-undo:before {
	content: "\f0e2";
}
.icon-table:before {
	content: "\f0ce";
}
.icon-circle-arrow-left:before {
	content: "\f0a8";
}
.icon-circle-arrow-right:before {
	content: "\f0a9";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-phone-sign:before {
	content: "\f098";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-upload-alt:before {
	content: "\f093";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-sort:before {
	content: "\f0dc";
}
.icon-trash:before {
	content: "\f014";
}
.icon-home:before {
	content: "\f015";
}
.icon-download-alt:before {
	content: "\f019";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-cogs:before {
	content: "\f085";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-xing:before {
	content: "\e014";
}
.icon-tumblr:before {
	content: "\e016";
}
.icon-facebook:before {
	content: "\e003";
}
.icon-google-plus:before {
	content: "\e005";
}
.icon-linkedin:before {
	content: "\e053";
}
.icon-github:before {
	content: "\e00a";
}
.icon-twitter:before {
	content: "\e004";
}
.icon-key:before {
	content: "\e04a";
}
.icon-lock:before {
	content: "\e048";
}
.icon-unlocked:before {
	content: "\e049";
}
.icon-attachment:before {
	content: "\e032";
}
.icon-ok:before {
	content: "\f00c";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-remove-sign:before {
	content: "\f057";
}
.icon-ok-sign:before {
	content: "\f058";
}
.icon-plus-sign:before {
	content: "\f055";
}
.icon-minus-sign:before {
	content: "\f056";
}
.icon-question-sign:before {
	content: "\f059";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-remove-circle:before {
	content: "\f05c";
}
.icon-ok-circle:before {
	content: "\f05d";
}
.icon-ban-circle:before {
	content: "\f05e";
}
.icon-warning-sign:before {
	content: "\f071";
}
.icon-exclamation-sign:before {
	content: "\f06a";
}
.icon-thumbs-up:before {
	content: "\e000";
}
.icon-thumbs-up-2:before {
	content: "\e001";
}
.icon-download:before {
	content: "\e002";
}
.icon-upload:before {
	content: "\e006";
}
.icon-off:before {
	content: "\f011";
}
.icon-user:before {
	content: "\e007";
}
.icon-search:before {
	content: "\e009";
}
.icon-signin:before {
	content: "\f090";
}
.icon-enter:before {
	content: "\e00b";
}
.icon-picassa:before {
	content: "\e00c";
}
.icon-mail:before {
	content: "\e00d";
}
.icon-skype:before {
	content: "\e00e";
}
.icon-android:before {
	content: "\e00f";
}
.icon-tux:before {
	content: "\e010";
}
.icon-file-pdf:before {
	content: "\e011";
}
.icon-delicious:before {
	content: "\e012";
}
.icon-print:before {
	content: "\f02f";
}
.icon-exit:before {
	content: "\e013";
}
