@import "settings";


/* We use this media query to add styles to any device that supports media queries */
@media #{$screen} {

    .box h3{
        text-align:center;
        position:relative;
        top:80px;
    }
    .box {
        width:50%;
        height:200px;
        background:#FFF;
        margin:80px auto;
        border:1px solid #ccc;
    }
    .effect0 { @include up(15px, $shadAlpha); }

    html {
        overflow-y: scroll;
    }
    footer,
    header{
        height:45px;
    }
    .top-bar {
        height:45px;
    }
    #main {
        margin:10px auto;
        padding-bottom:60px;
    }
    header,
    footer {
        @include gradient($grad-header-c1, $grad-header-c2);
    }
    header {
        box-shadow:0 3px 3px $dark-color;
    }
    footer {
        box-shadow:0 -3px 3px $dark-color;
    }
    footer .copy,
    footer nav,
    footer nav li {
        display:block;
        float:left;
    }
    #sidebarProjectTeaser .img img {
        max-height:65px;
        max-width:87px;
    }
    #gmap img {
        border:1px solid $secondary-color;
        border-radius:$global-radius;
    }
    ul {
        list-style-type:none;
        display:block;
    }
    ul.list {
        list-style-type:square;
        list-style-position:outside;
    }
    ul.list,
    ul.list li,
    #content section p,
    #content .panel > p {
        margin-left:20px;
        margin-right:20px;
    }
    #content section > p,
    #content .panel > p {
        text-align:justify;
    }
    button,
    .button {
        @include gradient($grad-header-c1, $grad-header-c2);
        padding:$button-med $button-med * 2;
        border-radius:$global-radius;
    }
    textarea, input[type=text], input[type=password], input[type=email] {
        font-size:emCalc(14px);
        line-height:38px;
        height:38px;
        border-radius:0 $global-radius $global-radius $global-radius;
        box-shadow: 2px 2px 3px $shadow-color inset;
    }
    label span {
        display:inline-block;
        width:50%;
        font-weight:bold;
        padding:10px;
        color:$lighter-color;
        @include gradient($grad-header-c1,$secondary-color-50);
        border:1px solid $third-color;
        border-bottom:0;
        margin-bottom:-1px;
        border-radius:$global-radius $global-radius 0 0;
        box-shadow: 2px 0 3px $shadow-color;
    }
    a {
        text-decoration:underline;
    }
    a.nodeco,
    a:hover,
    .top-bar a,
    .bottom-bar a {
        text-decoration:none;
    }
    .column,
    .columns {
        padding-left:$column-gutter;
        padding-right:$column-gutter;
    }
    .panel {
        padding:$panel-padding;
        margin-bottom:$column-gutter * 1.5;
        border:1px solid $primary-color-25;
        border-radius:$global-radius;
    }
    .panel h2 {
        font-size:24px;
        color:$secondary-color;
    }
    .panel h3 {
        font-size:18px;
        margin-left:.5em;
    }

    .panel dl {
        margin:0;
        display:block;
        float:left;
        width:33%;
    }

    .panel dl, .panel dt, .panel dd {
        display:block;
        margin:0;
    }

    #sidebarContact .panel {
        overflow:hidden;
    }
    #sidebarContact .panel dl {
        float:left;
        width:33%;
    }
    #sidebarContact .panel dt,
    #sidebarContact .panel dd {
        margin-bottom:5px;
    }
    #sidebarContact .panel dd {
         margin-left:5px;
    }
    #sidebarContact .icon:before {
        padding-right:5px;
    }

    .panel.bottom-open {
        margin-bottom:0;
        border-radius:$global-radius $global-radius 0 0;
        border-bottom:0;
    }
    .panel.top-open {
        margin-top:0;
        border-radius:0 0 $global-radius $global-radius;
        border-top:0;
    }
    .nopad {
        padding:0;
    }
    .contain-to-grid {
        @include gradient($grad-header-c1, $grad-header-c2);
    }
    .contain-to-grid .top-bar {
        margin:0 auto;
    }
    .top-bar,
    .top-bar.expanded .title-area,
    .top-bar-section ul li {
        background:none;
    }
    .top-bar-section ul li > a {
        @include gradient($lightest-color, $lighter-color);
        color:$secondary-color;
        border-bottom:1px solid $secondary-color;
    }
    .top-bar-section ul li > a:hover:not(.button) {
        @include gradient($lighter-color, $light-color);
        color:$secondary-color;
    }
    .top-bar-section ul li.active > a:not(.button),
    .top-bar-section ul li.active > a:hover:not(.button) {
        @include gradient($light-color, $lighter-color);
        color:$secondary-color;
    }
    #sidebar ul:not(.orbit) li {
        border-top:1px solid $secondary-color;
        padding:5px;
    }
    #sidebar li:nth-child(odd) {
        background:$nav-primary-hover-color;
    }
    #sidebar li .img {
        display:table-cell;
    }
    #sidebar li .img img {
        border:1px solid $secondary-color;
    }
    #sidebar li .info {
        display:table-cell;
        vertical-align:top;
        padding-left:10px;
        font-size:emCalc(14px);
        line-height:emCalc(24px);
    }
    #sidebar li .info a {
        display:block;
    }
    #sidebar li .title {
        font-style: italic;
    }
    #sidebar li .date {
        font-weight:bold;
    }
    #sidebar li .url {
        font-size:.85em;
    }
    footer {
        position:fixed;
        bottom:0;
        width:100%;
    }
    footer nav,
    footer nav li {
        float:left;
    }
    footer .copy,
    footer a {
        color:$lightest-color;
        line-height:32px;
        padding:0 .5em;
    }
    footer a:hover {
        color:$light-color;
    }

    .orbit-container {
        @include gradient($grad-header-c1, $grad-header-c2);
        border-left:5px solid transparent;
        border-right:5px solid transparent;
        border-top:1px solid transparent;
        border-bottom:1px solid transparent;
        padding-bottom:4px;
        border-radius:$global-radius + .5;
        overflow:hidden;
    }
    .orbit-container .orbit-slides-container {
        margin-top:40px;
        @include gradient($light-color,$lightest-color);
    }
    .orbit-container .orbit-prev,
    .orbit-container .orbit-next {
        top:0;
        margin-top: 10px;
        height: 30px;
        line-height: 30px;
        width:5px;
        background:none;
    }
    .orbit-container .orbit-prev {
        margin-left:-5px;
    }
    .orbit-container .orbit-prev > span,
    .orbit-container .orbit-next > span {
        top:0;
        left:0;
        margin-top:0;
        border:10px inset;
    }
    .orbit-container .orbit-prev > span {
        border-color:transparent;
        border-right-color:$lightest-color;
        border-right-style:solid;
    }
    .orbit-container .orbit-prev:hover > span {
        border-right-color:$alert-color;
    }
    .orbit-container .orbit-next > span {
        border-color:transparent;
        border-left-color:$lightest-color;
        border-left-style:solid;
        margin-left:-10px;
    }
    .orbit-container .orbit-next:hover > span {
        border-left-color:$alert-color;
    }
    .orbit-container .orbit-slides-container > * .orbit-caption {
        background:none;
        color:$secondary-color;
        border:1px solid transparent;
        font-weight:bold;
        border-radius:0 0 $global-radius $global-radius;
        padding: 0 10px 5px 10px;
        text-align:center;
        font-size:22px;
        line-height:40px;
    }
    .orbit-bullets {
        position:absolute;
        top:7px;
        left:115px;
        padding:4px 10px 3px 10px;
        background:$lightest-color;
        box-shadow: 2px 2px 2px $shadow-color inset;
        border-radius:$global-radius;
    }
    .orbit-bullets li {
        border-color:$light-color;
        background:$lightest-color;
        cursor:pointer;
    }
    .orbit-bullets li.active {
        border-color:$secondary-color;
        background:$secondary-color-25;
    }
    .orbit-bullets li:hover {
        border-color:$alert-color;
    }
    .orbit-container .orbit-slide-number {
        top:13px;
        margin-left:15px;
        font-size:emCalc(14px);
    }
    .orbit-container .orbit-timer {
        position:absolute;
        top:0;
        left:0;
        width:100%;
    }
    .orbit-container .orbit-timer > span {
        border:3px solid $lightest-color;
        border-top:0;
        border-bottom:0;
        top:13px;
        left:0;
        margin-left:285px;
        display:block;
        cursor:pointer;
    }
    .orbit-container .orbit-timer:hover > span {
        border-color: transparent $alert-color transparent $alert-color;
    }
    .orbit-container .orbit-timer.paused:hover > span {
        border-color: transparent transparent transparent $alert-color;
    }
    .orbit-container .orbit-timer.paused > span {
        border-left:8px solid $lightest-color;
        top:12px;
    }
    .orbit-container .orbit-timer .orbit-progress {
        margin-top:40px;
        background:$alert-color;
        width: 100%;
        height: 2px;
    }
    .orbit-slide-img {
        float:none;
        text-align:center;
    }
    .orbit-container .orbit-slides-container img {
        border:1px solid $secondary-color;
        border-radius:$global-radius + .5;
        display:inline-block;
        max-width: 100%;
        margin:5px auto;
    }
    .orbit-slide-txt {
        padding-left:10px;
        padding-top:10px;
    }
    .orbit-slide-data {
        margin:10px;
        padding:10px;
        border:1px solid $secondary-color;
        box-shadow: 3px 3px 3px $shadow-color inset;
        border-radius:$global-radius + .5;
        background:$lightest-color;
        overflow:hidden;
    }
    .orbit-slide-txt p, .orbit-slide-data dl {
        margin:0px 0 10px 0;
    }
    .orbit-slide-txt dd {
        margin:0;
        float:left;
    }
    .orbit-slide-txt dt {
        display:inline-block;
        width:90px;
        clear:left;
        float:left;
    }
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media #{$small} {
    footer,
    header{
        height:90px;
    }
    .top-bar {
        height:45px;
    }
    #main {
        margin:65px auto;
    }
    footer nav,
    footer nav li {
        float:right;
    }
    .top-bar .name h1 {
        padding:.5em 0;
        margin-left:1em;
    }
    .top-bar .name h1 a {
        display:block;
        padding:0;
        text-shadow:-1px -1px 1px $dark-color;
    }
    .top-bar .name h1 .title {
        display:block;
        text-align:center;
        font-size:emCalc(43px);
        line-height:1;
        margin:0;
    }
    .top-bar .name h1 .description {
        border-top:1px solid #fff;
        display:block;
        text-align:center;
        font-size:emCalc(16px);
        letter-spacing:.4em;
        padding:.25em 0 0 .4em;
        line-height:1;
        margin:0;
    }
    .top-bar-section ul {
        @include gradient($lightest-color, $lighter-color);
        height:1 !important;
        padding:3px 0 0 3px;
        border:0;
        border-radius:0 0 $big-radius $big-radius;
        color:$secondary-color;
        box-shadow:3px 3px 3px $dark-color inset;
    }
    .top-bar-section .nav-primary li,
    .top-bar-section .nav-primary li a {
        border:0;
    }
    .top-bar-section .nav-primary li:first-child,
    .top-bar-section .nav-primary li:first-child a {
        border-radius:0 0 0 $big-radius;
    }
    .top-bar-section .nav-primary li:last-child,
    .top-bar-section .nav-primary li:last-child a {
        border-radius:0 0 $big-radius 0;
        border-right:0;
    }
    .top-bar-section li a:not(.button),
    .top-bar-section .nav-primary li > a {
        @include gradient($lightest-color, $lighter-color);
        display:block;
        text-align:center;
        line-height:32px;
        color:$secondary-color;
        border-right:1px solid $secondary-color;
    }
    .top-bar-section .nav-primary li.active > a {
        @include gradient($primary-color-25, $secondary-color-25);
        color:$secondary-color;
    }
    .top-bar-section .nav-primary li > a:hover:not(.button) {
        @include gradient($lighter-color, $lightest-color);
        color:$secondary-color;
    }
    .top-bar-section ul.nav-social {
        @include gradient($lightest-color, $lighter-color);
        margin:0 20px;
        padding:3px 4px 1px 6px;
        height:32px;
        line-height:32px;
    }
    .top-bar-section .nav-social li {
        @include gradient($lightest-color, $lighter-color);
        display:inline-block;
        float:left;
        height:32px;
        line-height:32px;
    }
    .top-bar-section .nav-social li > a:not(.button) {
        display:inline-block;
        background:none;
        color:$secondary-color-75;
        width:28px;
        height:28px;
        overflow:hidden !important;
        line-height:28px;
        font-size:27px;
        margin:2px;
        padding:0;
        border:0;
        text-shadow:1px 1px 0 #eee;
    }
    .top-bar-section .nav-social li > a:hover:not(.button) {
        color:$secondary-color-50;
    }
    .top-bar-section .nav-social li.active > a:not(.button),
    .top-bar-section .nav-social li.active > a:hover:not(.button) {
        color:$secondary-color;
    }
    .orbit-slide-img {
        float:right;
    }
    .orbit-container .orbit-slides-container img {
        display:block;
        margin:0;
    }
    .orbit-slide-txt {
        padding-left:10px;
        padding-top:0;
    }

    #sidebarContact .panel dl {
        display:block;
        float:none;
        width:100%;
        margin:15px 10px 0 10px;
    }
    #contact .panel textarea {
        height:emCalc(135px);
    }
}

/* Used to alter styles for screens at least 1280px wide. */
@media #{$medium} {

}

/* Used to alter styles for screens at least 1440px wide. */
@media #{$large} {

}

/* Apply styles to screens in landscape orientation */
@media #{$landscape} {

}

/* Apply styles to screens in portrait orientation */
@media #{$portrait} {

}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}
